.body2{
    display: flex;
    flex-wrap: wrap;
}

.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.about{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-me{
    position: absolute;
    top: 20%;
    right: 85%;
    font-size: 30px;
    color: #c33e00; 
}

.description{
    background-color: #da9719;
    padding: 30px;
    width: 60%;
    color: #c33e00;
    position: absolute;
    right: center;
    top: center;
    border-radius: 1em;
}

#Light .description{
    background-color: #da9719;
}

#Dark .description{
    background-color: #213432;
}

#Dark .about-me{
    color: #d5ffb1; 
}

#Dark .description{
    color: #d5ffb1;
}