
.contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form{
    background-color: #da9719;
    width: 50%;
    border-radius: 1em;
    padding: 30px;
}

#Light .form{
    background-color: #da9719;
}

#Dark .form{
    background-color: #213432;
}

.form-conteiner{
    display: grid;
    gap: 0.5em;
    grid-auto-columns: 100%;
}

.form-tittle{
    text-align: center;
    color: #d5ffb1;
    font-size: 25px;
}

.label-contact{
    color: #d5ffb1;
}

.form-input{
    border-radius: 0.2em;
    padding: 0.3em;
}

.form-input-message{
    resize: none;
    height: 100px;
    border-radius: 0.2em;
    padding: 0.3em;
}

.form-cta{
    border-radius: 0.3em;
    width: 20%;
    justify-self: end;
    color: #666666;
    cursor: pointer;
}

.animation-email{
    position: absolute;
    width: 100px;
    right: 450px;
    top: 150px;
}

.form-cta:hover{
    background-color: #c33e00;
    color: #d5ffb1;
}

#Dark .form-cta:hover{
    background-color: #56848b;
}