
.contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #d6b56f;
    width: 50%;
    border-radius: 1em;
    padding: 30px;
}

.form-conteiner{
    display: grid;
    gap: 0.5em;
    grid-auto-columns: 100%;
}

.form-tittle{
    text-align: center;
    color: #e9ffe6;
    font-size: 25px;
}

.label-contact{
    color: #e9ffe6;
}

.form-input{
    border-radius: 0.2em;
    padding: 0.3em;
}

.form-input-message{
    resize: none;
    height: 100px;
    border-radius: 0.2em;
    padding: 0.3em;
}

.form-cta{
    border-radius: 0.3em;
    width: 20%;
    justify-self: end;
    color: #666666;
    cursor: pointer;
}

.form-cta:hover{
    background-color: #c27544;
    color: #e9ffe6;
}