@media(min-width: 721px){
    .nav .overlay{
        display: none;
    }

    .nav .menu{
        display: none;
    }

    .nav .nav-links{
        display: flex;
        align-items: center;
    }
    
    .nav .nav-links li{
        display: inline-block;
        padding: 0px 10px;
    }

    .nav .nav-links a:hover{
        color: #b20024;
    }
    
    #Dark .nav .nav-links a:hover{
        color: #56848b;
    }
}