.projects{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.projects-tittle{
    position: absolute;
    top: 20%;
    right: 85%;
    font-size: 30px;
    color: #c33e00; 
}

.conteiner-desk{
    background-color: #da9719;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 60%;
    height: 50%;
    color: #c33e00;
    justify-content: center;
    top: 30%;
    border-radius: 1em;
}

.desk{
    width: 50%;
}

#Dark .conteiner-desk{
    background-color: #213432;
}

#Dark .projects-tittle{
    color: #d5ffb1; 
}

#Dark .conteiner-desk{
    color: #d5ffb1;
}