@media(min-width: 721px){
    .projects .projects-container{
        width: 80%;
    }

    .projects .projects-container .container-desk{
        display: flex;
        flex-direction: column;
    }

    .desk-animation{
        display: flex;
        justify-content: center;
    }

    .projects .projects-container .container-desk .desk{
        max-width: 500px;
    }
}