.body2{
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e2ae;
}

.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.welcome{
    min-width: 1000px;
    height: 500px;
    position: relative;
    justify-content: center;
}

.tittle{
    font-size: 150px;
    text-align: end;
    color: #e9ffe6;
    width: 60%;
    position: relative;
}

.iam{
    font-size: 150px;
    color: #e9ffe6;
    width: 100%;
    text-align: end; 
    position: relative;
    top:-120px;
}

.about{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-me{
    position: absolute;
    top: 20%;
    right: 85%;
    font-size: 30px;
    color: #e9ffe6; 
}

.about-me:hover{
    text-decoration: underline;
}

.description{
    background-color: #e98143;
    padding: 30px;
    width: 60%;
    color: #e9ffe6;
    position: absolute;
    right: center;
    top: center;
    border-radius: 1em;
}

.images{
    width: 720px;
    height: 150px;
    right: -100px;
    position: absolute;
    top: 80%;
    right: 25%;
    justify-content: center;
    display: flex;
}

.css{
    height: 90px;
    width: 90px;
    padding: 10px;
}

.css:hover{
    transform: scale(1.2);
}