@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: 'REM', 'sans-serif';
    font-size: 20px;
    font-weight: 1000;
}

.body {
    background-color: #e2e2ae;
}