@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'REM', 'sans-serif';
    font-size: 20px;
    font-weight: 1000;
    color: #d5ffb1;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
    background-color: #e6e567;
}

#Light{
    background-color: #e6e567;
}

#Dark{
    background-color: #020c07;
}